* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 3%
}

header h3 {
    display: inline;
}

.timer {
    text-align: right;
    display: inline;
}

#questions-container {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 20px;
}

button {
    margin: 20px;
    flex-direction: column;
    padding: 20px;
    align-items: left;
    text-align: left;
    color: #ffff;
    background: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

#answer-container {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    color: grey;
}

#end-game {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
}